#uldiv2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
}

.lidiv2 {
    float: left;
}

.lidiv2 a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.lidiv2 a:hover {
    background-color: white;
}